<!-- Latest compiled and minified CSS -->
<div>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a href="#" class="navbar-brand">Car nav</a></span>
    <span class="example-spacer1"><a routerLink="cars/show" class="nav-link" mdbWavesEffect>Cars</a></span>
    <span class="example-spacer1"><a routerLink="cars/add" class="nav-link" mdbWavesEffect>Add</a></span>
    <span class="example-spacer1"><a routerLink="cars/page" class="nav-link" mdbWavesEffect>Page</a></span>
   
    <span class="example-spacer"></span>
    <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  
</div>